<p>Bonjour Maitre,</p>

<p>Vous avez été recommandé par l'un de vos confrères pour répondre à cette étude.<br>
Nous travaillons actuellement sur une prestation digitale de l'avocat via la fluidifation des échanges avec vos clients.
</p>

<p>
Pourriez-vous prendre 5 minutes de votre temps pour répondre à ce sondage ? <br>
<a href="http://bit.ly/etude_avocat">http://bit.ly/etude_avocat</a>
</p>
<p>
Merci et bien à vous,
</p>
<p>
Vincent SIMON
</p>
